:root {
    --shield-border-color: #111;
    --shield-background-color: #1e90ff;
    --darker-shield-background-color: #198cd3;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #558a40;
}

html {
    height: 100%;
}

div#banner{
    float: left;
    width: 100%;
}

ul#horizontal-list{
    list-style:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

ul#horizontal-list li{
    float: left;
    display:inline;
    margin-left: 30px;
}

ul#horizontal-list li a{
    display:block;
    color: black;
    text-align: center;
    padding: 48px 16px;
    text-decoration: none;
}

#gameboard{
    width: 80%;
    height: 70%;
    background-color: #91742d;
    margin-top: 5%;
    border-radius: 10px;
}

.player-name{
    font-size: 30px;
    margin: 0;
    padding: 0;
    font-family: var(--default-font-family);
}

#player2{
    margin: 30px auto auto;
}

.cards-shields-container {
    display: flex;
}

.cardCount{
    border: .2em solid black;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background: #a67500;
    font-family: var(--default-font-family);
    text-align: center;
}

.cardCount p{
    margin:auto;
    font-size: 40px;
}

.shield {
    margin-left: 10px;
    height: 60px;
    width: 60px;
    border: .2em solid var(--shield-border-color);
    background-color: dodgerblue;
    border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%;
    background-image: linear-gradient(90deg,
    var(--shield-background-color) 50%
    var(--darker-shield-background-color) 100%);
}

.shield p{
    text-align: center;
    margin: auto;
    font-size: 40px;
    font-family: var(--default-font-family);
}

.two-equal-columns:after {
    content: "";
    display: table;
    clear: both;
}

.two-equal-columns {
    display: flex;
}

.two-equal-columns .columnLeft{
    width: 43%;
    margin-right: auto;
    margin-left: 5%;
    float: left;
}

.two-equal-columns .columnRight {
    width: 43%;
    margin-right: 5%;
    margin-left: auto;
    float: left;
}

.two-equal-columns .columnLeft .played-cards-div .mat{
    float:left;
}

.two-equal-columns .columnRight .played-cards-div .mat{
    float: right;
}

.played-cards-div {
    display: flex;
    text-align:center;
    justify-content: center;
    width: 100%;
}

.played-cards-div .mat{
    border: 1px dashed black;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    width: 60%;
    height: 100px;
}

.played-cards-div .mat .played-cards{
    list-style: none;
}

.played-cards-div .mat .played-cards li{
    display: inline;
}

#player-hand .shield {
    position: relative;
    top: 60px;
}

#bottomRow{
    width: 100%;
    height: 50%;
}

#bottomRow #player-discard .played-cards-div {
    margin-top: 10%;
}

#hand-list{
    position: relative;
    bottom: -50px;
    background-color: #7e6527;
    padding-top: 20px;
    margin: 0;
    border-radius: 20px;
    display: flex;
    padding-left: 60px;
    padding-right: 40px;
    justify-content: center;
    height: 154px;
    min-width: 260px;
}

#played-cards{/* TODO: make this always centered no matter how many cards are in the hand*/
    display: flex;
    text-align:center;
    justify-content: center;
    bottom: 0px;
    left: 0;
    width: 100%;
}

#player-hand{/* TODO: make this always centered no matter how many cards are in the hand*/
    position: fixed;
    display: flex;
    bottom: 0px;
    left: 0;
    width: 100%;
    justify-content: center;
}

#hand-list li{
    display: inline;
}

#hand-list li .card{
    border: 2px solid black;
    border-radius: 10px;
    width: 100px;
    height: 150px;
    background-color: black;
    margin-top: auto;
    position: relative;
    margin-left: -20px;
    z-index: 0;
    transition: all 0.5s;
}

#hand-list li .card:hover{
    width: 150px;
    height: 225px;
    border: 2px solid rgb(0, 125, 228);
    z-index: 1;
    transform: translateY(-150px);
}

.selected-card {
    position: fixed;
    border-radius: 10px;
    background-color: black;
    width: 150px;
    height: 225px;
    border: 2px solid rgb(0, 125, 228);
    z-index: 1;
    transition: all 0.1s;
}

.selected-card img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: fill;
}

/* #hand-list li .card img{
    height: 120px;
    width: 84px;
    float: left;
    transition: transform .2s ease-in-out;
} */

/* #hand-list li .card img:hover{
    transform: scale(2.0);
} */

#SponsorPrompt{
    display: none;
}

#NoSponsorPrompt{
    display: none;
}
#played-list{
    position: relative;
    bottom: -50px;
    background-color: #7e6527;
    padding-top: 20px;
    margin: 0;
    border-radius: 20px;
    display: flex;
    padding-left: 60px;
    padding-right: 40px;
    justify-content: center;
    height: 154px;
    min-width: 260px;
}

#played-list li .card:hover{
    width: 150px;
    height: 225px;
    border: 2px solid rgb(0, 125, 228);
    z-index: 1;
    transform: translateY(-150px);
}

#SponsorPrompt .card:hover{
    width: 150px;
    height: 225px;
    border: 2px solid rgb(0, 125, 228);
    z-index: 1;
    transform: translateX(-25px) translateY(-75px); /* I was hoping this would not move the buttons down but it does TODO: make matt fix it :) */
}

#NoSponsorPrompt .card:hover{
    width: 150px;
    height: 225px;
    border: 2px solid rgb(0, 125, 228);
    z-index: 1;
    transform: translateX(-25px) translateY(-75px); /* I was hoping this would not move the buttons down but it does TODO: make matt fix it :) */
}


#played-list li{
    display: inline;
}

.card{
    border: 2px solid black;
    border-radius: 10px;
    width: 100px;
    height: 150px;
    margin-top: auto;
    position: relative;
    margin-left: -20px;
    z-index: 0;
    transition: all 0.5s;
}


.card img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: fill;
}

/* #played-list li .card img{
    height: 120px;
    width: 84px;
    float: left;
    transition: transform .2s ease-in-out;
} */
