
<!-- TODO: player cards need to become buttons (or draggables, I found a page on that) -->
<!-- TODO: after interacting with player cards, the discard-card function needs to happen -->
<!-- TODO: discard-piles need to have a container and update with cards in the pile -->
<!-- TODO: display decks! -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>QuestBoard</title>
        <link rel="stylesheet" href="/templates/Global.css">
        <link rel="stylesheet" href="/templates/Gameboard.css">

        <script src="/webjars/jquery/jquery.min.js"></script>
        <script src="/webjars/sockjs-client/sockjs.min.js"></script>
        <script src="/webjars/stomp-websocket/stomp.min.js"></script>
        <script src="/js"></script>
    </head>
    <body onload="loadUsername()">
        <noscript>
            <h1 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable Javascript and reload this page!</h1>
        </noscript>

        <div id="Banner">
            <ul id = "horizontal-list" style="background-color: #7e6527">
                <li>
                    Leave
                </li>
                <li>
                    More
                </li>
            </ul>
        </div>

        <div id="gameboard">
            <div class="quad">
                <div id="player2" th:if="${game.players.size() % 2 == 0}">
                    <div class="stats" style="Justify-Content: Center">
                        <div class="cardCount">
                            <p th:text="${game.getPlayer((i + game.players.size()/2) % game.players.size()).hand.size()}"></p>
                        </div>
                        <div class="shield">
                            <p th:text="${game.getPlayer((i + game.players.size()/2) % game.players.size()).shields}"></p>
                        </div>
                    </div>
                    <div>
                        <p class="player-name" style="text-align: center" th:text="${game.getPlayer((i + game.players.size()/2) % game.players.size()).name}"></p>
                    </div>

                    <ul class="played-cards" th:if="${game.players.size() == 2}">
<!--                        <li class="card"></li>-->
                    </ul>
                </div>
            </div>

            <div class="quad-split" th:if="${game.players.size() > 2}">
                <div id="player3" class="columnLeft">
                    <div class="stats" style="width: 50%">
                        <div class="cardCount">
                            <p th:text="${game.getPlayer((i + 1) % game.players.size()).hand.size()}">
                            </p>
                        </div>
                        <div class="shield">
                            <p th:text="${game.getPlayer((i + 1) % game.players.size()).shields}">
                            </p>
                        </div>
                    </div>
                    <p class="player-name" style="text-align: left" th:text="${game.getPlayer((i + 1) % game.players.size()).name}">
                    </p>
                </div>

                <div id="player4" class="columnRight">
                    <div class="stats" style="justify-content: right">
                        <div class="cardCount">
                            <p th:text="${game.getPlayer((i + game.players.size() - 1) % game.players.size()).hand.size()}"></p>
                        </div>
                        <div class="shield">
                            <p th:text="${game.getPlayer((i + game.players.size() - 1) % game.players.size()).shields}"></p>
                        </div>
                    </div>
                    <div>
                        <p class="player-name" style="text-align: right" th:text="${game.getPlayer((i + game.players.size() - 1) % game.players.size()).name}"></p>
                    </div>
                </div>
            </div>

            <div class="quad-split" th:if="${game.players.size() > 2}">
                <div class="columnLeft">
                    <ul class="played-cards">
<!--                        <li class="card"></li>-->
                    </ul>
                </div>
                <div class="columnRight" >
                    <ul class="played-cards">
<!--                        <li class="card"></li>-->
                    </ul>
                </div>
            </div>

            <div id = "SponsorPrompt" style='position: absolute; left: 100px; top: 50px; border: solid black 1px; padding: 10px; background-color: rgb(200,100,100); text-align: justify; font-size: 12px; width: 135px;' >
                <span class='new-quest-text'>A new quest is starting!</span>
                <p>What would you like to do for the following quest?</p>
                <div class="card" style="margin-left: 20px">
                    <img th:src="@{/card(cardName=${game.current_story.name})}">
                </div>
                <input class="Sponsor" type="button" value="Sponsor" onclick="submitPrompt(this)">
                <input class="Participate" type="button" value="Participate" onclick="submitPrompt(this)">
                <input class="Drop Out" type="button" value="Drop Out" onclick="submitPrompt(this)">
            </div>

            <div id = "NoSponsorPrompt" style='position: absolute; left: 100px; top: 50px; border: solid black 1px; padding: 10px; background-color: rgb(200,100,100); text-align: justify; font-size: 12px; width: 135px;' >
                <span class="new-quest-text">A new quest is starting!</span>
                <p>What would you like to do for the following quest?</p>
                <div class="card" style="margin-left: 20px">
                    <img th:src="@{/card(cardName=${game.current_story.name})}">
                </div>
                <input class="Participate" type="button" value="Participate" onclick="submitPrompt(this)">
                <input class="Drop Out" type="button" value="Drop Out" onclick="submitPrompt(this)">
            </div>
            <div id = "TournamentPrompt" style='position: absolute; left: 100px; top: 50px; border: solid black 1px; padding: 10px; background-color: dimgrey; text-align: justify; font-size: 12px; width: 135px;' >
                <span class="new-quest-text">A new tournament is starting!</span>
                <p>What would you like to do for the following tournament?</p>
                <div class="card" style="margin-left: 20px">
                    <img th:src="@{/card(cardName=${game.current_story.name})}">
                </div>
                <input class="Tournament" type="button" value="Enter" onclick="submitPrompt(this)">
                <input class="DropTourney" type="button" value="Drop Out" onclick="submitPrompt(this)">
            </div>
            <div class="quad">
                <ul id="played-list">
                </ul>
            </div>
        </div>

        <div id="hotbar">
            <div id="makeStage" style="display: none">
                <p id="stageText">Please make stage 1</p>
            </div>
            <div id="submitChallenge" style="display: none">
                <p id="challengeText">Challenge Stage</p>
                <p th:text="${stage_number}"></p>
            </div>
            <div id="tournamentText" style="display: none">
                <p>Enter tournament</p>
            </div>
            <input type="button" value="Challenge" id="challenge" onclick="challenge()" style="display: none">
            <input type="button" value="Play Cards" id="playCards" onclick="playCards()" style="display: none">
            <input type="button" value="Enter Tournament" id="tournament" onclick="playTournament()" style="display: none">
            <ul id="hand">
                <li th:each="c: ${game.getPlayer(i).hand}">
                <li class="card" th:classappend="${c.classString()}" th:each="c: ${game.getPlayer(i).hand}">
                    <img th:src = "@{/card(cardName=${c.name})}" th:id="${c.id}" th:classappend="${c.name}">
                </li>
        <!--        <li>-->
        <!--            <div class="card" style="margin-left: 20px">-->
        <!--                <img th:src="@{/card(cardName=${game.current_story.name})}">-->
        <!--            </div>-->
        <!--        </li>-->
            </ul>
            <div class="shield">
                <p th:text="${game.getPlayer(i).shields}"></p>
            </div>
        </div>

        <ul id="discard" class="discard">
            <li class="card" th:each="c: ${game.adventure_discardPile}">
                <img th:src = "@{/card(cardName=${c.name})}">
            </li>
        </ul>
    </body>
</html>