
<!-- TODO: make the cards refer to a perspective model that exists -->
<!-- TODO: make the cards values a seperate thing and a nice border-->
<!-- TODO: make play-areas for each player -->
<!-- TODO: player cards need to become buttons (or draggables, I found a page on that) -->
<!-- TODO: after interacting with player cards, the discard-card function needs to happen -->
<!-- TODO: discard-piles need to have a container and update with cards in the pile -->
<!-- TODO: player cards need to load pictures, eventually -->
<!-- TODO: display decks! -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>QuestBoard</title>
    <link rel="stylesheet" href="/templates/Quest-Styles.css">
</head>
<body>
<div id="Banner">
    <ul id = "horizontal-list" style="background-color: #a67500">
        <li>
            Leave
        </li>
        <li>
            More
        </li>
    </ul>
</div>

<div id="gameboard">

    <div id="player2">
        <div class="cards-shields-container" style="Justify-Content: Center">
            <div class="cardCount">
                <p th:text="${game.getPlayer(1).hand.size()}">
                </p>
            </div>
            <div class="shield">
                <p th:text="${game.getPlayer(1).shields}">
                </p>
            </div>
        </div>
        <div>
            <p class="player-name" style="text-align: center" th:text="${game.getPlayer(1).name}">
            </p>
        </div>

        <div id="p2Discard">
                <div class="played-cards-div">
                    <ul class="played-cards">
                        <li class="card">
                            disc.
                        </li>
                    </ul>
                </div>
        </div>
    </div>


    <div class="two-equal-columns">
        <div id="player3" class="columnLeft">
            <div class="cards-shields-container" style="width: 50%">
                <div class="cardCount">
                    <p th:text="${game.getPlayer(2).hand.size()}">
                    </p>
                </div>
                <div class="shield">
                    <p th:text="${game.getPlayer(2).shields}">
                    </p>
                </div>
            </div>
            <p class="player-name" style="text-align: left" th:text="${game.getPlayer(2).name}">
            </p>

        </div>
        <div id="player4" class="columnRight">
            <div class="cards-shields-container" style="justify-content: right">
                <div class="cardCount">
                    <p th:text="${game.getPlayer(3).hand.size()}">
                    </p>
                </div>
                <div class="shield">
                    <p th:text="${game.getPlayer(3).shields}">
                    </p>
                </div>
            </div>
            <div>
                <p class="player-name" style="text-align: right" th:text="${game.getPlayer(3).name}">
                </p>
            </div>
        </div>
    </div>
    <div id="discard-piles" class="two-equal-columns">
        <div class="columnLeft">
            <div class="played-cards-div">
                <ul class="played-cards">
                    <li class="card">
                        disc.
                    </li>
                </ul>
            </div>

        </div>
        <div class="columnRight" >
            <div class="played-cards-div">
                <ul class="played-cards">
                    <li class="card">
                        disc.
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div id = "bottomRow">

        <div id="player-discard">
            <div class="played-cards-div">
                <ul class="played-cards">
                    <li class="card">
                        disc.
                    </li>
                </ul>
            </div>
        </div>
        <div id="player-hand">
            <ul id = "hand-list">
                <li th:each="c: ${game.getPlayer(0).hand}">
                    <div class="card">
                        <img th:src = "@{/card(cardName=${c.name})}">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>