<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuestBoard</title>
    <link rel="stylesheet" href="Quest-Styles.css">
</head>
<body>
<div id="Banner">
        <ul id = "horizontal-list" style="background-color: #a67500">
            <li>
                leave
            </li>
            <li>
                some other options?
            </li>
        </ul>
</div>

<div id="gameboard">

    <div id="topRow">
        <div id="player2">
            <a style="text-align:center ; margin: auto">
                playerTwo (cards)
            </a>
        </div>
    </div>

    <div class="two-equal-columns">
        <div id="player3" class="columnLeft">
            <a>
                playerThree (cards)
            </a>

        </div>
        <div id="player4" class="columnRight">
            <a style="float: right">
                playerFour (cards)
            </a>
        </div>
    </div>

    <div id = "bottomRow">
        <div id="active-player">
            <div id="player-hand">
                <ul id = "horizontal-list">
                    <li>
                        your cards here
                    </li>
                    <li>
                        more cards
                    </li>
                </ul>
            </div>

        </div>
    </div>

</div>
</body>
</html>