<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quest of The Round Table</title>
    <link rel="stylesheet" href="/templates/Quest-Styles.css">
</head>
<body>
    <div id = "welcome">
        <h3>Quest of the Round Table</h3>
    </div>
    <div>
        <form method="post" th:action="@{/lobby}" th:object="${Player}">
            <label for="name"></label><input type = "text" placeholder="Name" id="name" th:field="*{name}">
            <div id = "button">
                <button id = "join" type = "submit">
                    JOIN!
                </button>
            </div>
        </form>
    </div>
</body>
</html>