<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quest of The Round Table</title>
    <link rel="stylesheet" href="/templates/Global.css">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>  <script src="/js"></script>
    <script>
        function setUsername(){
            var uname = document.querySelector('body').getAttribute('data-name'); //is this a bit of a hack? Hell yes it is :)
            user = JSON.stringify(uname);
            //converts to base 64 ASCII
            user = btoa(user)
            //save to web storage -- I'm not teaching my team how to use cookies they can barely understand english!
            localStorage.setItem('_user', user);
            return true;
        }
        function acceptPlayerJoin(){
            location.reload();
        }
    </script>
</head>

<body th:data-name="${Player.name}"  th:onload="setUsername()">
<!--<body th:onload="'setUsername(' + ${player.name} + ');'" > -->
    <div id = "lobby_list">
        <h3 style="font-size: 225%">Quest of the Round Table</h3>
        <table>
            <tr>
                <th id = "head" th:text="'Lobby ' + ${PlayerList.size()} + '/4 Players'"><th>
            </tr>
            <tr>
                <th>Player List</th>
            </tr>
            <tbody id="playerlist">
              <tr th:each="p: ${PlayerList}">
                <td th:text="${p.name}" ></td>
              </tr>
            </tbody>
        </table>
        <!--<form method="post" th:action="@{/game}" th:if="${PlayerList.size() > 1}">
            <input type="hidden" name="playername" th:value="${player.name}"/>
            <button id="start" type="submit">
                START
            </button>
        </form>
        <button id = "notready" type="submit" th:if="${PlayerList.size() == 1}">
            WAITING FOR PLAYERS
        </button>-->
        <form method="post" th:action="@{/game}" th:if="${PlayerList.size() == 1}">
            <input type="hidden" name="playername" th:value="${player.name}"/>
            <button id="start" type="submit" disabled="true">
                START
            </button>
        </form>
        <form method="post" id = "startbutton-form" th:action="@{/game}" th:if="${PlayerList.size()  > 1}">
            <input type="hidden" name="playername" th:value="${player.name}"/>
            <button id="start1" type="submit">
                START
            </button>
        </form>
    </div>
</body>
</html>
