<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quest of The Round Table</title>
    <link rel="stylesheet" href="/templates/Quest-Styles.css">
</head>
<body>
    <div id = "lobby_list">
        <table>
            <tr>
                <th id = "head">Lobby<th>
            </tr>
            <tr>
                <th id = "names"><span th:text="${name}"></span></th>
        </table>
        <button id = "start" type = "submit">
            START GAME!
        </button>
    </div>
</body>
</html>