body {
    background-color: #bfa70b ;
    font-size: 150%;
}

div#banner{
    float: left;
    width: 100%;

}

.table{
    display: table;
    position:absolute;
    text-align: left;
}

ul{
    list-style: none;
}

ul#horizontal-list{
    list-style:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: 20px;
}

ul#horizontal-list li{
    float: left;
    display:inline;
    margin-left: 2px;
}

ul#horizontal-list li a{
    display:block;
    color: white;
    text-align: center;
    padding: 48px 16px;
    text-decoration: none;
}

div#welcome{
    text-align: center;
    padding-top: 150px;
    font-size: 400%;
    font-family: Candara;
}


input[type=text]{
    width : 30%;
    margin-left: 35%;
    height: 40px;
    font-size: 100%;
    vertical-align: center;
    font-family: Candara;
}

button#join{
    width: 12%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 125%;
    font-family: Candara;
    color : forestgreen;
    background-color: white;
    border-color: black;
    border-width: 1px;
}

button#join:hover{
    background-color: forestgreen;
    color: white;
}

button#start{
    width: 12%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 125%;
    font-family: Candara;
    color : firebrick;
    background-color: white;
    border-color: black;
    border-width: 1px;
}

button#start:hover{
    background-color: firebrick;
    color: white;
}

div#lobby_list{
    font-family: Candara;
    text-align: left;
    padding-top: 25px;
    padding-left: 50px;
}

th#head{
    padding-bottom: 25px;
    font-size: 180%;
}

td#names{
    padding-bottom: 50px;
    font-size: 140%;
}


div#button{
    padding-top: 50px;
    padding-left: 46.5%;
}
.two-equal-columns {
    display: flex;
}

.two-equal-columns .columnLeft{
    width: 43%;
    margin-right: auto;
    margin-left: 5%;
    float: left;
}

.two-equal-columns .columnRight {
    width: 43%;
    margin-right: 5%;
    margin-left: auto;
    float: left;
}

.two-equal-columns:after {
    content: "";
    display: table;
    clear: both;
}

#player2{
    margin: auto
}

