body {
    background-color: #bfa70b ;
    font-size: 150%;
}

div#banner{
    float: left;
    width: 100%;

}

.table{
    display: table;
    position:absolute;
    text-align: left;
}

ul{
    list-style: none;
}

ul#horizontal-list{
    list-style:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: 20px;
}

ul#horizontal-list li{
    float: left;
    display:inline;
    margin-left: 30px;
}

ul#horizontal-list li a{
    display:block;
    color: white;
    text-align: center;
    padding: 48px 16px;
    text-decoration: none;
}

div#welcome{
    text-align: center;
    padding-top: 150px;
    font-size: 400%;
    font-family: var(--default-font-family);
}


input[type=text]{
    width : 30%;
    margin-left: 35%;
    height: 40px;
    font-size: 100%;
    vertical-align: center;
    font-family: var(--default-font-family);
}

button#join{
    width: 12%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 125%;
    font-family: var(--default-font-family);
    color : forestgreen;
    background-color: white;
    border-color: black;
    border-width: 1px;
}

button#join:hover{
    background-color: forestgreen;
    color: white;
}

button#start{
    width: 12%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 125%;
    font-family: var(--default-font-family);
    color : firebrick;
    background-color: white;
    border-color: black;
    border-width: 1px;
}

button#start:hover{
    background-color: firebrick;
    color: white;
}

div#lobby_list{
    font-family: var(--default-font-family);
    text-align: left;
    padding-top: 25px;
    padding-left: 50px;
}

th#head{
    padding-bottom: 25px;
    font-size: 180%;
}

td#names{
    padding-bottom: 50px;
    font-size: 140%;
}


div#button{
    padding-top: 50px;
    padding-left: 46.5%;
}
.two-equal-columns {
    display: flex;
}

.two-equal-columns .columnLeft{
    width: 43%;
    margin-right: auto;
    margin-left: 5%;
    float: left;
}

.two-equal-columns .columnRight {
    width: 43%;
    margin-right: 5%;
    margin-left: auto;
    float: left;
}

.two-equal-columns .columnLeft .played-cards-div{
    float:left;
}

.two-equal-columns .columnRight .played-cards-div{
    float: right;
}

.played-cards-div{
    display: flex;
    text-align:center;
    justify-content: center;
    margin-right: 25px;
}

.played-cards-div .played-cards{
    list-style: none;
}

.played-cards-div .played-cards li{
    display: inline;
}

.cards-shields-container {
    display: flex;
}

.two-equal-columns:after {
    content: "";
    display: table;
    clear: both;
}


#gameboard{
    background-color: green;
    min-height: 700px;
    height: 90%;
    width: 80%;
    border-radius: 5%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1em solid black;

}

.player-name{
    font-size: 30px;
    margin: 0;
    padding: 0;
    font-family: var(--default-font-family);
}

#player2{
    margin: 30px auto auto;
}

#bottomRow{
    position:absolute;
    width: 80%; /*TODO: make this width just relative to the parent, somehow*/
    bottom: 0;
    margin: 0;
    padding: 0;
}

#player-hand{/* TODO: make this always centered no matter how many cards are in the hand*/
    display: flex;
    text-align:center;
    justify-content: center;
}

#hand-list{
    list-style:none;
}

#hand-list li{
    display: inline;
}

.card{
    margin-right: 5px;
    float: left;
    text-align: center;
    transform: translateY(0);
    transition: transform .15s ease-in;
}

.card:hover{
    transform: translateY(-80px);
}

.card img{
    border: .2em solid greenyellow;
    border-radius: 10%;
    height: 120px;
    width: 84px; /*70% of height*/
    float: left;
    transition: transform .2s ease-in-out;
}

.card img:hover{
    transform: scale(2.0);
}

:root {
    --shield-border-color: #111; <!-- I think this is necessary -->
    --shield-background-color: #1e90ff;
    --darker-shield-background-color: #198cd3;
    --default-font-family: Candara, seriff;
}

.shield {
    margin-left: 10px;
    height: 60px;
    width: 60px;
    border: .2em solid var(--shield-border-color);
    background-color: dodgerblue;
    border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%;
    background-image: linear-gradient(90deg,
    var(--shield-background-color) 50%
    var(--darker-shield-background-color) 100%);
}

.shield p{
    text-align: center;
    margin: auto;
    font-size: 40px;
    font-family: var(--default-font-family);
}

.cardCount{
    border: .2em solid black;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background: #a67500;
    font-family: var(--default-font-family);
    text-align: center;
}

.cardCount p{
    margin:auto;
    font-size: 40px;
}

