body {
    background-color: #bfa70b ;
    font-size: 150%;
}

div#banner{
    float: left;
    width: 100%;

}

.table{
    display: table;
    position:absolute;
    text-align: left;
}

ul{
    list-style: none;
}

ul#horizontal-list{
    list-style:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: 20px;
}

ul#horizontal-list li{
    float: left;
    display:inline;
    margin-left: 30px;
}

ul#horizontal-list li a{
    display:block;
    color: white;
    text-align: center;
    padding: 48px 16px;
    text-decoration: none;
}

div#welcome{
    text-align: center;
    padding-top: 150px;
    font-size: 400%;
    font-family: Candara;
}


input[type=text]{
    width : 30%;
    margin-left: 35%;
    height: 40px;
    font-size: 100%;
    vertical-align: center;
    font-family: Candara;
}

button#join{
    width: 12%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 125%;
    font-family: Candara;
    color : forestgreen;
    background-color: white;
    border-color: black;
    border-width: 1px;
}

button#join:hover{
    background-color: forestgreen;
    color: white;
}

button#start{
    width: 12%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 125%;
    font-family: Candara;
    color : firebrick;
    background-color: white;
    border-color: black;
    border-width: 1px;
}

button#start:hover{
    background-color: firebrick;
    color: white;
}

div#lobby_list{
    font-family: Candara;
    text-align: left;
    padding-top: 25px;
    padding-left: 50px;
}

th#head{
    padding-bottom: 25px;
    font-size: 180%;
}

td#names{
    padding-bottom: 50px;
    font-size: 140%;
}


div#button{
    padding-top: 50px;
    padding-left: 46.5%;
}
.two-equal-columns {
    display: flex;
}

.two-equal-columns .columnLeft{
    width: 43%;
    margin-right: auto;
    margin-left: 5%;
    float: left;
}

.two-equal-columns .columnRight {
    width: 43%;
    margin-right: 5%;
    margin-left: auto;
    float: left;
}

.cards-shields-container {
    display: flex;
    justify-content: center;
}

.two-equal-columns:after {
    content: "";
    display: table;
    clear: both;
}


#gameboard{
    background-color: green;
    min-height: 700px;
    height: 90%;
    width: 80%;
    border-radius: 5%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1em solid black;

}

.player-name{
    font-size: 30px;
    margin: 0;
    padding: 0;
}

#player2{
    margin: 30px auto auto;
    height: 180px;
}

#bottomRow{
    position:absolute;
    width: 80%; /*TODO: make this width just relative to the parent, somehow*/
    bottom: 0;
    margin: 0;
    padding: 0;
}

#player-hand{/* TODO: make this always centered no matter how many cards are in the hand*/
    position: relative;
    left: 30%;
}

.card{
    border: .2em solid black;
    border-radius: 10%;
    height: 80px;
    width: 56px; /*70% of height*/
    margin-right: 5px;
    float: left;
    background-color: white;
}

.cardCount{
    border: .2em solid black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background: #a67500;
}

.cardCount p{
    margin-left: 30%;
    margin-top: 5%;
    font-size: 40px;
}

.shield p{
    margin-left: 30%;
    margin-top: 5%;
    font-size: 40px;
}

#hand-list{
    list-style:none;
    margin: auto;
    overflow: hidden;
    padding: 20px;

}

:root {
    --shield-border-color: #111; <!-- I think this is necessary -->
    --shield-background-color: #1e90ff;
    --darker-shield-background-color: #198cd3;
}

.shield {
    margin-left: 10px;
    height: 50px;
    width: 50px;
    border: .2em solid var(--shield-border-color);
    background-color: dodgerblue;
    border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%;
    background-image: linear-gradient(90deg,
    var(--shield-background-color) 50%
    var(--darker-shield-background-color) 100%);
}